{% extends 'index.html' %}
{% load bootstrap3 %}

{% block content %}

	<h1 style="background-color: silver; color: white; padding: 0; border: solid black 3px; width: 80%;"> {{group.name}} </h1>

	<form style="margin-left: 12%; width: 25%;"method="post" class="form" action="/groups/{{group.pk}}/edit/">
        {% csrf_token %}
        {% bootstrap_form form %}

            <button style="background-color: green;" type="submit" class="btn btn-primary">
                Add User
            </button>

    </form>

    <a href={% url 'viewGroup' group.pk %}><button style="background-color: green;" type="submit" class="btn btn-primary">
        Back to Group
    </button></a>

{% endblock %}