{% extends 'index.html' %}
{% load bootstrap3 %}

{% block content %}

	<p2><a style="background-color: green;" class="btn btn-primary btn-lg" href="/messages/new" role="button">Send Message</a></p2>

	{% if message_list %}
		{% for m in message_list %}
			<div class="row">
				<aside class="col-md-4">
					<section class="message_info">
						<h2>
							<li><a href={% url 'viewMessage' %} >{{ m.subject }}</a></li>
						</h2>
					</section>
				</aside>
			</div>
		{% endfor %}
	{% else %}
		<h3> You have no messages. <h3>
	{% endif %}

{% endblock %}