{% extends 'index.html' %}
{% load bootstrap3 %}

{% block content %}

    {% if is_company %}
        <form method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            <div>
            {% bootstrap_form user_settings %}
            {% bootstrap_form company_settings %}
            </div>
        {% buttons %}
        <button style= "background-color: green;" type="submit" class="btn btn-primary">
            Save Changes
        </button>
        {% endbuttons %}
    </form>
            {% else %}
                <form method="post" class="form">
                {% csrf_token %}
                <div>
                    {% bootstrap_form user_settings %}
                </div>
                {% buttons %}
                    <button style= "background-color: green;" type="submit" class="btn btn-primary">
                        Save Changes
                    </button>
                {% endbuttons %}
                </form>
            {% endif %}
    <p2><a style="margin-left: 1%; background-color: green;" class="btn btn-primary btn-lg" href="/settings/password"
           role="button">Change Password</a></p2>

{% endblock %}