<!DOCTYPE html>

{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}

<head>
    <title>Lokahi Finitech</title>
    <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
</head>

<body style="background-color: lightgrey">
<h1>Lokahi Finitech</h1>
<nav class="navbar navbar-default" id="bar" style="border-bottom: 3px solid black;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <button type="button" class="btn btn-default navbar-btn" href="/login/">Login</button>
                <button type="button" class="btn btn-default navbar-btn" href="/signup/">Sign up</button>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{% block content %}
{% endblock %}
<body>
