<!DOCTYPE html>

{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<head>
    <title>Lokahi Finitech</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <h1>Lokahi Finitech</h1> 
    <p><a href="/login/">Login</a></p>
    
    {% block content %}
    {% endblock %}
<body>
