{% extends 'index.html' %}
{% load bootstrap3 %}

{% block content %}
    {% if not logged_in %}
        <h3> Our platform brings companies and investors together. We prodvide a secure platform for members of the
            investing community to communicate and share knowledge with one another.
        </h3>
        <h3>
            <div class="jumbotron" id="signup_jumbo">
                <style>
                    #signup_jumbo {
                        border: 3px solid black;
                        background-color: silver;
                    }
                </style>
                <h4>Not a User?</h4>
                <p1>Want to be able to reap the benefits of our platform?</p1>
                <p></p>
                <p2><a style="background-color: green;" class="btn btn-primary btn-lg" href="/signup/" role="button">Sign
                    Up</a></p2>
            </div>
        </h3>
    {% endif %}
    {% if logged_in %}
        {% if company_user %}

            <h1 style="background-color: green; color: white; border-top: solid black 1px; border-bottom: solid black 1px; font-size: 35pt; width: 100%;">
                Reports </h1>
            {% if report_list %}
                <p2><a style="margin-left: 3%; margin-top: 1%;background-color: green;" class="btn btn-primary btn-lg"
                       href="/reports/new/" role="button">New Report</a></p2>
                {% for r in report_list %}
                    <div class="row">
                        <aside class="col-md-4">
                            <section class="report_info">
                                <h2>
                                    <li style="margin-left: 18%; margin-top: 1%;"><a
                                            style="margin-left: -5%;color: green; text-decoration: underline; font-size: x-large"
                                            href={% url 'viewReport' r.pk %}>{{ r.title }}</a></li>
                                </h2>
                            </section>
                        </aside>
                    </div>
                {% endfor %}
            {% else %}
                <h3 style="margin-top: 1%"> There are no reports to view.
                </h3>
                <p2><a style="margin-left: 3%; margin-top: 1%;background-color: green;" class="btn btn-primary btn-lg"
                       href="/reports/new/" role="button">New Report</a></p2>
            {% endif %}


        {% else %}
            <h1 style="background-color: green; color: white; border-top: solid black 1px; border-bottom: solid black 1px; font-size: 35pt; width: 100%;">
                All Reports </h1>
            {% if report_list %}
                {% for r in report_list %}
                    <div class="row">
                        <aside class="col-md-4">
                            <section class="report_info">
                                <h2>
                                    <li style="margin-left: 18%; margin-top: 1%;"><a
                                            style="margin-left: -5%;color: green; text-decoration: underline; font-size: x-large"
                                            href={% url 'viewReport' r.pk %}>{{ r.title }}</a></li>
                                </h2>
                            </section>
                        </aside>
                    </div>
                {% endfor %}
            {% else %}
                <h3> There are no reports to view. </h3>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}