{% extends 'index.html' %}
{% load bootstrap3 %}

{% block content %}
    <h3> Our platform brings companies and investors together. We prodvide a secure platform for members of the
        investing community to communicate and share knowledge with one another.
        <h3>

            <div class="jumbotron">
                <h4>Not a User?</h4>
                <p>Want to be able to reap the benefits of our platform? </p>
                <p><a class="btn btn-primary btn-lg" href="/signup/" role="button">Sign Up</a></p>
            </div>
{% endblock %}