{% extends 'index.html' %}
{% load bootstrap3 %}

{% block content %}
    <h3> Our platform brings companies and investors together. We prodvide a secure platform for members of the
        investing community to communicate and share knowledge with one another.
        {% if not logged_in %}
            <h3>

                <div class="jumbotron" id="signup_jumbo">
                <style>
                    #signup_jumbo {
                        border: 3px solid black;
                        background-color: silver;
                    }
                </style>
                <h4>Not a User?</h4>
                <p1>Want to be able to reap the benefits of our platform? </p1>
                <p></p>
                <p2><a style="background-color: green;" class="btn btn-primary btn-lg" href="/signup/" role="button">Sign Up</a></p2>
            </div>
     {% endif %}
    {% if logged_in %}
        {%  if company_user %}
            <h1 style="background-color: white; border-top: solid 3px black; -webkit-text-stroke: unset; color: black; font-size: x-large; ">
            Your Reports </h1>
        {% endif %}
        {% if investor_user %}
            <h1 style="background-color: white; border-top: solid 3px black; -webkit-text-stroke: unset; color: black; font-size: x-large; ">
            All Reports </h1>
        {% endif %}
    {% endif %}
{% endblock %}